<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068771384190-1dcu251bllgb0630m2rsiu8mqvc88fcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068771384190-1dcu251bllgb0630m2rsiu8mqvc88fcq</string>
	<key>API_KEY</key>
	<string>AIzaSyDioJN97rTCPEtH6XmFdx5hZ3HWh8KIJkg</string>
	<key>GCM_SENDER_ID</key>
	<string>1068771384190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastShop</string>
	<key>PROJECT_ID</key>
	<string>fastshop-806ad</string>
	<key>STORAGE_BUCKET</key>
	<string>fastshop-806ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068771384190:ios:c957584e805d76fe4c712f</string>
</dict>
</plist>